* {
    font-family: "Comfortaa", sans-serif;
}

.layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
    border: solid 1px gray;
}

.header {
    font-size: 30px;
    text-align: center;
}

.footer {
    text-align: center;
}

.sidebarHeader {
    font-size: 20px;
    text-align: center;
}

.sidebar ul {
    padding-left: 20px;
    list-style: none;
}

.sidebar ul li {
    padding: 5px 0;
}

a, a:visited {
    color: darkgreen;
}

.sumbit-button {
    margin-top: 10px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
}

.sumbit-button:hover, .sumbit-button:focus {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05);
}

.field {
    margin-top: 10px;
}

.textarea {
    overflow: auto;
	resize: none;
	background: #f6f6f6;
	border: 1px solid #cecece;
	border-radius: 8px 0 8px 0;
	padding: 8px 0 8px 10px;
}

.text {
    margin-top: 5px;
}

.actions {
    margin-top: 5px;
}

.reply {
    text-align: center;
    text-decoration: none;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    transition: all 0.3s;
}

.reply:hover, .reply:focus {
    border-color: transparent;
    background-color: #acacac;
    color: white;
    transition: background-color 0.3s ease-in-out;
}