*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1{
    display: flex;
    align-self: center;
    margin-right: 500px;
}

main {
    margin-top: 100px;
    text-align: center;
}

footer {
    margin-top: 100px;
    text-align: center;
}
